#modalCreateGroup {
 
    .modal-body {
        .search_group {
            box-sizing: border-box;
            list-style: none;
            position: relative;
            width: 400px;
            padding: 6px 0;
            color: #081c36;
            background-image: none;
            border: none;
            outline: none;
            border-radius: 4px;
            -webkit-transition: all 0.3s;
            transition: all 0.3s;
            font-size: 0.875rem;
            font-weight: 400;
            line-height: 1.5;
            background: none;
            border-bottom: 1px solid #d6dbe1;
            box-sizing: content-box;
        }
    }
    .modal-dialog
    {
        max-height: calc(100% - 20px);
    }
    .searchUser_container {
        position: relative;
    width: 100%;
    border: 1px solid #d6dbe1;
    background: #fff;
    padding-left: 20px;
    display: flex;
    overflow: hidden;
    box-sizing: border-box;
    height: 38px;
    line-height: 38px;
    border-radius: 20px;
        input{
            border-radius: 20px;
            padding-left: 32px;
    
            list-style: none;
            position: relative;
            width: 100%;
            padding: 0 12px;
            color: #081c36;
            background-image: none;
            border: none;
            outline: none;
            border-radius: 4px;
            -webkit-transition: all 0.3s;
            transition: all 0.3s;
            font-size: 0.875rem;
            font-weight: 400;
            line-height: 1.5;
        }
      .search_icon {
        position: absolute;
        top: 50%;
        transform: translateY(-50%);
        left: 10px;
        color: #7589a3;
        font-size: 0.875rem;
        width: 0.875rem;
        height: 0.875rem;
      }
      
    }
    .modal-body{
        overflow: auto;
    }
    .result-search{
overflow: auto;
height: 300px;
    }
}
.choose-image-group {
    width: 46px;
    height: 46px;
    border-radius: 50%;
    border: 1px solid #d6dbe1;
    font-size: 1.5rem;
    font-weight: 400;
    line-height: 1.5;
    color: #7589a3;
    overflow: hidden;
    display: flex;
    justify-content: center;
    align-items: center;
}
