.message-item {
    img {
        width: 30px;
        height: 30px;
        border-radius: 50%;
    }
    display: flex;
    align-items: end;
    gap: 10px;

    .message-text {
        font-size: 15px;
        position: relative;
        display: block;
        padding: 12px;
        border-radius: 8px;
        background: var(--WA100);
        color: #081c36;
        margin-bottom: 4px;
        user-select: text;
        min-width: 40px;
        /* max-width: calc(100% - -2px); */
        box-shadow: 0 1px 2px var(--BA20);
        background-color: #fff;
        margin-bottom: 5px;
    }
}
.message_item_own {
    justify-content: end;
    .message-text {
        background: #e5efff;
    }
}
