@import './variable.scss';
@import './reset.scss';
::-webkit-scrollbar {
    width: 19px;
}

::-webkit-scrollbar-track {
    background-color: transparent;
}
::-webkit-scrollbar-thumb {
    background-color: #bbbbbb;
    border-radius: 20px;
    border: 6px solid transparent;
    background-clip: content-box;
}
.zmenu-separator {
    height: 1px;
    background: #d6dbe1;
    margin: 4px;
}
.popper {
    background: var(--bg-primary) !important;
}
.menu_item_poper {
    &.active {
        background-color: var(--bg-active-conversation-item);
        color: #fff;
    }
    display: flex;
    justify-content: flex-start;
    .sub_menu_poper {
        display: none;
        width: 100px;
        box-shadow: 4px 3px 10px 3px rgb(0 0 0 / 20%);
       
        border-radius: 4px;
        position: absolute;
        left: 226px;
        top: 0px;
    }
    height: 36px;
    min-width: 112px;
    padding: 0 12px;
    display: flex;
    align-items: center;
    cursor: pointer;
    color: #081c36;
    position: relative;
    margin: 0 -8px;
    background-color: var(--bg-primary);
    font-size: 0.8rem;
    font-weight: 400;
    line-height: 1.5;

    &:hover {
        background-color: var(--bg-hover-conversationItem);
        .sub_menu_poper {
            display: block;
        }
    }
}

.react-datepicker__input-container {
    input {
        display: block;
        width: 100%;
        padding: 0.375rem 0.75rem;
        font-size: 1rem;
        font-weight: 400;
        line-height: 1.5;
        color: #212529;
        background-color: #fff;
        background-clip: padding-box;
        border: 1px solid #ced4da;
        -webkit-appearance: none;
        -moz-appearance: none;
        appearance: none;
        border-radius: 0.25rem;
        transition: border-color 0.15s ease-in-out, box-shadow 0.15s ease-in-out;
        display: block;
        width: 100%;
        padding: 0.375rem 0.75rem;
        font-size: 1rem;
        font-weight: 400;
        line-height: 1.5;
        color: #212529;
        background-color: #fff;
        background-clip: padding-box;
        border: 1px solid #ced4da;
        -webkit-appearance: none;
        -moz-appearance: none;
        appearance: none;
        border-radius: 0.25rem;
        transition: border-color 0.15s ease-in-out, box-shadow 0.15s ease-in-out;
    }
}

.modal-header .btn-close {
    color: var(--text-primary) !important;
}
#modalSetAvatarGroup {
    .chose_image_from_computer,
    .filter_user_selected {
        background: var(--bg-btn-choose-image) !important;
   
    }
}
.notify_no_friend,.notyfy_friend{
    background: var(--bg-primary) !important;
}
