.message-item {
    .message-content {
        flex: 1;
    }
    .feeling {
        position: absolute;
        bottom: -8px;
        right: -5px;
        font-size: 15px;

        width: 1.5rem;
        height: 1.5rem;
        display: none;
        align-items: center;
        justify-content: center;
        padding: 0;

        border-radius: 50%;
        background: #ffffffab;
        box-shadow: 1px solid black;

        box-shadow: 0 0 4px rgba(0, 0, 0, 0.25);
        .EmojiPickerReact {
            position: absolute;
            z-index: 999999;
            top: 0;
            right: -230px;
            top: -39px;
            height: 40px !important;
            display: none !important;
            transition: all 0.5s;
        }
        &:hover {
            .EmojiPickerReact {
                display: block !important;
            }
        }
    }
    .active_reaction {
        display: flex;
    }
    .actions {
        top: 38px;
        right: -127px;
        width: 116px;
        z-index: 2;

        position: absolute;
        align-items: center;
        height: 24px;
        border-radius: 6px;
        color: #7589a3;
        box-shadow: 0 0 2px 0 hsla(0, 0%, 100%, 0.5);
        background-color: hsla(0, 0%, 100%, 0.5);
        font-size: 13px;
        justify-content: space-around;
        display: none;
        i:hover {
            color: #005ae0;
        }
        .detail {
            .action_message_popper_container {
                display: none !important;
            }
            &:hover {
                .action_message_popper_container {
                    font-family: sans-serif;
                    display: block !important;
                }
            }
        }
    }
    .message {
        &:hover {
            .actions {
                display: flex;
            }
        }
        &:hover {
            .feeling {
                display: flex;
            }
        }
    }

    .message_file {
        background: #fff;
    }
    display: flex;
    align-items: flex-start;
    gap: 10px;
    .time_stamp {
        font-size: 0.75rem;
        font-weight: 400;
        line-height: 1.5;
        color: #476285;
        margin-top: 5px;
    }
    .message-avatar {
        img {
            width: 30px;
            height: 30px;
            border-radius: 50%;
            border: 1px solid #fff;
        }
    }

    .message-img {
        width: 300px;
        .img_message {
            display: block;
            object-fit: contain;
            // width: 577px;
            // aspect-ratio: auto 577 / 139;
            border-radius: 10px;
            height: auto;
            width: 300px;
        }
    }
    .message-icon {
        .img_message {
            width: 30px;
            height: 30px;
            border: 50%;
            object-fit: contain;
        }
    }
    .message-text {
        font-size: 15px;
        position: relative;
        display: inline-block;
        padding: 12px;
        border-radius: 8px;
        background: #fff;
        color: #081c36;
        margin-bottom: 4px;
        user-select: text;

        max-width: calc(100% - -2px);
        box-shadow: 0 1px 2px rgba(0, 0, 0, 0.2);
        margin-bottom: 5px;
    }
    .senderName {
        font-size: 0.8125rem;
        font-weight: 400;
        line-height: 1.5;
        color: #7589a3;
        margin-bottom: 10px;
    }
}
.message_item_own {
    .message {
        width: 100%;
        display: flex;
        justify-content: flex-end;
    }
    .feeling {
        &:hover {
            .EmojiPickerReact {
                display: none !important;
            }
        }
    }
    .actions {
        top: 38%;
        right: 105%;
    }

    .action_message_popper_container {
        left: -262px;
    }
    justify-content: end;
    .message-text {
        background: #e5efff;
    }

    .message_file {
        background: #e5efff;
    }
    .message-icon {
        display: inline-block;
        font-size: 15px;
        position: relative;

        padding: 12px;
        border-radius: 8px;

        color: #081c36;
        margin-bottom: 4px;
        user-select: text;
        min-width: 90px;
        /* max-width: calc(100% - -2px); */
        box-shadow: 0 1px 2px rgba(0, 0, 0, 0.2);
        background: #e5efff;
        margin-bottom: 5px;
    }
    .message-content {
        display: flex;
        flex-direction: column;
        align-items: flex-end;
        gap: 5px;
    }
}

.timeStamp {
    text-align: center;
    color: white;
    font-size: 0.8125rem;
    font-weight: 400;
    line-height: 1.5;
    backdrop-filter: blur(10px);
    width: 108px;
    background: rgba(0, 0, 0, 0.2);
    border-radius: 10px;
    margin: 0 auto;
}
