.message-item {
    .time_stamp{
        font-size: .75rem;
    font-weight: 400;
    line-height: 1.5;
    color: #476285;
    margin-top: 5px;
    }
    img {
        width: 30px;
        height: 30px;
        border-radius: 50%;
        border: 1px solid #fff;
   
    }
    display: flex;
    align-items:flex-start;
    gap: 10px;

    .message-text {
        display: inline-block;
        font-size: 15px;
        position: relative;
    
        padding: 12px;
        border-radius: 8px;
        background: var(--WA100);
        color: #081c36;
        margin-bottom: 4px;
        user-select: text;
        min-width: 60px;
        /* max-width: calc(100% - -2px); */
        box-shadow: 0 1px 2px rgba(0, 0, 0, 0.2);
        background-color: #fff;
        margin-bottom: 5px;
    }
    .senderName{
        font-size: .8125rem;
        font-weight: 400;
        line-height: 1.5;
        color: #7589a3;
        margin-bottom: 10px;
    }
}
.message_item_own {
    justify-content: end;
    .message-text {
        background: #e5efff;
    }
    .message-content{
        display: flex;
        flex-direction: column;
        align-items: flex-end;
        gap: 5px;
    }
  
}

.timeStamp{

    text-align: center;
    color: white;
    font-size: .8125rem;
    font-weight: 400;
    line-height: 1.5;
    backdrop-filter: blur(10px);
    width: 108px;
    background: rgba(0, 0, 0, 0.2);
    border-radius: 10px;
    margin: 0 auto;
}
